body{
    width: 100%;
    height: auto;
    background-image: url('img.png');
    background-repeat: no-repeat ;
    background-position: 75% -40%;
}

.container {
   background-color: #2085b1;
}
#t_principal{
    color:#fbfbfb;
    text-align: center;
    padding: 2px;
}
#box_1 {
    z-index: 0;
    position: absolute;
    width: 500px;
    background-color: white;
    color: #2085b1;
    max-height: 700px;
}
#box_2 {
    z-index: -1;
    position: absolute;
    width: 500px; 
    background-color: white;
    color: #2085b1;
}
button{
    margin: 2px;
}